{% extends 'base.html' %}    <!--base.html을 상속한다는 뜻 / 표준 html구조를 갖춤-->
{% block content %}        <!--base.html을 상속한다는 뜻 / 표준 html구조를 갖춤-->
{% load pybo_filter %}

  <script src="https://kit.fontawesome.com/a26bf7fb44.js" crossorigin="anonymous"></script>
  <div class="intro_bg-D" style = "background-color:white">

    <div class = "first_layer">

        <nav class="navbar navbar-expand-lg navbar-light  bg-light" style="height: 75px ;">
            <div class=" container">
              <a class="navbar-brand" href="index.html" style="font: weight = bolder;">SHORT</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNavDropdown">


                <!---"navbar-nav ml-auto"-->
                <ul class="navbar-nav ml-auto">

                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pybo:home' %}" style="font-weight: bolder;" ><i class="fa-solid fa-house"></i> HOME <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item">
                    <a class = "nav-link" href = "#" data-toggle="modal" data-target="#loginModal" style="font-weight: bolder;"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"  style="font-weight: bolder;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa-solid fa-bars"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="nav-link" href="{% url 'pybo:index' %}" style="font-weight: bolder;"><i class="fa-solid fa-arrow-up-from-bracket"></i> URL</a>
                      <a class="nav-link" href="{% url 'image:image' %}" style="font-weight: bolder;"><i class="fa-solid fa-image"></i> IMAGE</a>
                    </div>
                  </li>

                </ul>

              </div>
            </div>
          </nav>

    </div>

<!-- Modal -->
<script src="https://kit.fontawesome.com/a26bf7fb44.js" crossorigin="anonymous"></script>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-right-to-bracket"></i> LogIn</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class = "row">
            <div class ="col-6">
              <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="fa-brands fa-google"></i> Login with Google</button>
              <button type="button" class="btn btn-outline-dark btn-block btn-sm"> <i class="fa-regular fa-envelope"></i> LogIn with Email</button>
            </div>
            <div class ="col-6">
              <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="fa-solid fa-user-plus"></i> SignUp</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="second_layer">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <img src="../../static/image/blue_all.png" class="d-block w-100" alt="..." style="width: auto; height: 525px;">
             <div class="carousel-caption d-none d-md-block">
                <h1 style=" color: rgb(52, 145, 233); font-weight: bolder;">S H O R T</h1>
                <h6 style = "color: black; font-weight: bolder;">인터넷으로 혼자 하는 공부</h6>
                <h6 style = "color: black; font-weight: bolder;">간단하게 요약 정리</h6>
              </div>
          </div>
          <div class="carousel-item">
            <img src="../../static/image/blue_social.png" class="d-block w-100" alt="..." style="width: auto; height: 525px;">
            <div class="carousel-caption d-none d-md-block">
                <h1 style=" color: rgb(52, 145, 233); font-weight: bolder;">S H O R T</h1>
                <h6 style = "color: black; font-weight: bolder;">인터넷으로 혼자 하는 공부</h6>
                <h6 style = "color: black; font-weight: bolder;">간단하게 요약 정리</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../static/image/blue_1.png" class="d-block w-100" alt="..." style="width: auto; height: 525px;">
            <div class="carousel-caption d-none d-md-block">
                <h1 style=" color: rgb(52, 145, 233); font-weight: bolder;">S H O R T</h1>
                <h6 style = "color: black; font-weight: bolder;">인터넷으로 혼자 하는 공부</h6>
                <h6 style = "color: black; font-weight: bolder;">간단하게 요약 정리</h6>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      </div>

</div>



<div class="container my-4" >

    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>                          <!--사용자 자가추천 오류 표시-->
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}



<!---추천-->
    <div class="row ml-1" style="float: right;">
        <div class="col-12">

            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
                {{ maincont.voter.count }}
            </div>
            <a href="#" data-uri="{% url 'pybo:vote_maincont' maincont.id %}"
               class="recommend btn btn-outline-dark btn-block my-1">추천</a> <!--추천버튼을 누르는 이벤트를 얻기 위한 클래스-->
               {% csrf_token %}

        </div>
    </div>


    <!---유사성-->
<div class="row my-2">
  <div class="col-2">
    <div id="tooltip" >
      유사성: <a> {{ similar_percent }} % </a>
      <a id="tooltip_left">   {{ request.user }}  사용자의 관심분야와 해당 게시글의 유사성 </a>
    </div>
   </div>
  </div>


  <!---핵심 단어/핵심 문장/ iframe-->
    <div class="col-lg-12">

    <h3>{{ maincont.word }}</h3>                                    <!--단어-->



    <div class="card">
        <div class="card-body">
        <div class="card-text">
            {{ maincont.sentence|mark }}                                     <!--문장 / 마크다운으로 표시가능-->
        </div>

        <div class="d-flex justify-content-end">

            {% if maincont.modify_date %}
            <div class="badge badge-light p-2 text-left mx-3">
                <div class="mb-2">마지막 수정시간</div>                             <!--수정 시간-->
                <div> {{ maincont.modify_date }} </div>
            </div>
            {% endif %}

            <div class="badge badge-light p-2 text-left">
                <div class="mb-2">{{ maincont.author.username }}</div>
                <div>{{ maincont.create_date }}</div>                              <!--날짜-->
            </div>

        </div>




        <!---노트 정리하기-->
        <p>
          <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            노트 정리하기
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            bookmark한 내용을 정리해 보세요!!
          </div>
        </div>


         <div class="iframe_site">          <!--사이트 아이프레임 들어감-->
             <iframe src = "{{maincont.subject}}" width="975" height = "800"></iframe>
         </div>



         {% if request.user == maincont.author %}    <!--수정하려는 유저와 로그인한 유저가 같을때만 보여지는 블럭-->
         <div class="my-3">

             <a href="{% url 'pybo:maincont_modify' maincont.id %}"
             class="btn btn-outline-primary"> 수정 </a>                      <!--게시글 수정버튼-->

             <a href="#" class="btn btn-outline-primary"
                data-uri="{% url 'pybo:maincont_delete' maincont.id %}"> 삭제 </a>         <!--게시글 삭제버튼-->

         </div>

         {% endif %}






        </div>


        </div>

        </div>

<!---댓글



        {% if maincont.comment_set.count > 0 %}
        <div class="mt-5" style="background-color:white ;">
            {% for comment in maincont.comment_set.all %}
            <a name = "comment_{{ comment.id }}"></a>
                <div class="comment py-2 text-muted">
                    <span style="white-space: pre-line;">{{ comment.content }}</span>
                    <span>
                        - {{ comment.author }}, {{ comment.create_date }}
                        {% if comment.modify_date %}
                        (수정:{{ comment.modify_date }})
                        {% endif %}
                    </span>


                    {% if request.user == comment.author %}
                    <div class="suj">
                    <a href="{% url 'pybo:comment_modify_maincont' comment.id %}" class="small">수정</a>
                    </div>

                    <div class="sak">
                    <a href="#" class="small delete" data-uri="{% url 'pybo:comment_delete_maincont' comment.id %}">삭제</a>
                    </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
            {% endif %}



        </div>


        </div>

        </div>
    </div>

-->
       </div>
    </div>




<!---스크롤 애니메이션-->
<script>
    // Scroll Animation (sa, 스크롤 애니메이션)
    const saTriggerMargin = 300;
    const saElementList = document.querySelectorAll('.sa');

    const saFunc = function() {
      for (const element of saElementList) {
        if (!element.classList.contains('show')) {
          if (window.innerHeight > element.getBoundingClientRect().top + saTriggerMargin) {
            element.classList.add('show');
          }
        }
      }
    }

    window.addEventListener('load', saFunc);
    window.addEventListener('scroll', saFunc);
  </script>


 <!-- Testimonials section-->
 <section class="py-5 border-bottom",  style="background-color:rgb(90, 145, 218);">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">SHORT_Comment</h2>
            <p class="lead mb-0"> <a href="{% url 'pybo:comment_create_maincont' maincont.id %}" style="color: black";> 댓글추가하기 </a></p>
        </div>

        <div class="row gx-8 justify-content-center">
            <div class="col-lg-12">

                <!-- Testimonial 1-->
                <div class="card" style=" border-radius: 2em;">
                    <div class="card-body p-4">
                        <div class="d-flex" style="background-color:white; border-radius: 2em;">

                            <div class="flex-shrink-0" ><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                {% if maincont.comment_set.count > 0 %}
                                {% for comment in maincont.comment_set.all %}
                                <a name = "comment_{{ comment.id }}"></a>


                                        <span style="white-space: pre-line;">{{ comment.content }}</span>
                                        <span>
                                            - {{ comment.author }},{{ comment.create_date }}
                                            {% if comment.modify_date %}
                                            (수정:{{ comment.modify_date }})
                                            {% endif %}
                                        </span>


                                        {% if request.user == comment.author %}
                                        <div class="suj">
                                        <span>
                                        <a href="{% url 'pybo:comment_modify_maincont' comment.id %}">수정</a>
                                        </span>
                                        </div>

                                        <div class="sak">
                                        <a href="#" class="small delete" data-uri="{% url 'pybo:comment_delete_maincont' comment.id %}">삭제</a>
                                        </div>
                                        {% endif %}

                                {% endfor %}
                                {% endif %}
                            </div>
                            </div>

                        </div>
                    </div>
                </div>





                <!-- Testimonial 2-
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">The whole team was a huge help with putting things together for our company and brand. We will be hiring them again in the near future for additional work!</p>
                                <div class="small text-muted">- Client Name, Location</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    --->


</section>



        <!-- Footer-->
        <footer class="py-3 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; WRC_SHORT 2022 </p>
             </div>
        </footer>



{% endblock %}<!--base.html을 상속한다는 뜻 / 표준 html구조를 갖춤-->

<!--자바스크립트 / 게시글 삭제하기-->
<!--class는.delete, .recommend 이고, data-uri의 속성에 url이 호출된다.-->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click',function(){
        if(confirm("정말로 삭제하실건가요?")){
            location.href=$(this).data('uri');
            }
        });

        $(".recommend").on('click' , function(){
            if(confirm("추천 하시겠습니까?")){
                location.href=$(this).data('uri');
            }
        });

    });
</script>
{% endblock %}