{% extends 'base.html' %}    <!--base.html상속-->
{% block content %}           <!--base.html상속-->






<div class="container">
  <h5 class="my-3 border-bottom pb-2">저장할 사이트 추가하기</h5>
  <form method="post" class="post-form my-3">
    {% csrf_token %}
    <!-- 오류표시 start / 필수 항목임을 나타낸다.-->
    {% if form.errors %}
      <div class="alert alert-dager" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}
    <!--오류표시 END-->


    <div class="form-group">
      <label for="subject">url사이트</label>
      <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:''}}">
    </div>


    <button type="submit" class="btn btn-primary" onclick="wait_func()">저장하기</button>
    <script>
      function wait_func(){
        alert("저장중입니다. 잠시만 기다려주세요");
      }
    </script>
  </form>
</div>

{% endblock %}                  <!--base.html상속-->


