{% load static %}
<! DOCTYPE html >
<html lang="ko">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <!--pybo css /style.css는 base.html에 -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">   <!-- 예시 - 여러개의 css를 참조 -->

    <link rel="stylesheet" type="text/css" href="{% static 'ex.css' %}">    <!-- 예시 - 여러개의 css를 참조 -->

    <!--회원가입 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">

    <!--기본 홈 화면 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'homestyle.css' %}">

    <!--detail 화면 css-->
    <link rel="stylesheet" type="text/css" href="{% static 'main_detail.css' %}">

    <!--파이스크립트
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

    -->






    <title>Hello pybo!</title>
</head>
<body>
<!--기본 템플릿에 삽입될 내용 start / 이부분 부터 상속받은 html들이 구현 해야될 영역-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 END-->

<!--jQuery Js /연동 -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!--Bootstrap JS /연동-->
<script src="{% static 'bootstrap.min.js' %}"></script>

<!--자바스크립트 시작 / 제이쿼리를 사용한 코드를 작성할 수 있다.-->
{% block script %}
{% endblock %}
<!--자바스크립트 끝-->

</body>
</html>